
body {
    background-color: rgb(67, 67, 67);
}
.wrapper {
}
.content {
    padding: 50px;
}

.content:hover .content__circle {
    animation-play-state: paused;
}

.content__circle {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    left: 0;
    animation-name: white-circle;
    animation-duration: 2s;
    animation-timing-function: linear;
    /* можно указать infinite) */
    animation-iteration-count: 1; 
    /* alternate - каждая чётная итерация банимации удет обратной */
    animation-direction: alternate;
    /* анимация начинает работать только через N секунд*/
    /* если animation-delay выставить -1s, а  animation-duration: 2s, то анимация начнётся с половины цикла*/
    animation-delay: -1s;
    /* фиксирует конечные css правила для данного класса */
    animation-fill-mode: forwards;
}

@keyframes white-circle {
    0%{
        left: 0;
        top: 0;
    }

    50%{
        border-radius: 0%;
        top: 100px;
    }

    100%{
        left: 500px;
        top: 0;
    }
}